@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,800|Poppins:700");

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

button {
    border: 1px none;
    border-radius: 8px;
}

.img {
    height: 250px;
    min-width: 500px;
}

.wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
}

.column {
    margin-left: auto;
    margin-right: auto;
}

.column-2 {
    flex: 50%;
}

.column-3 {
    flex: 30%;
}

.column-4 {
    flex: 25%;
}

.info-block {
    align-items: flex-start;
    margin-top: 5vh;
}

.info-block-column {
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

.text-middle {
    padding: 25px 15px;
}

.button-middle {
    padding: 15px;
}

.info {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.text-main-info {
    align-self: flex-start;
    color: var(--deep-cove);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxl);
    font-weight: 800;
    letter-spacing: 0;
    line-height: 76px;
    min-height: 76px;
    margin-top: 3vh;
    white-space: nowrap;
}

.info-text {
    color: var(--deep-cove);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1px;
    width: 784px;
}

.info-doc {
    align-items: flex-start;
    display: flex;
    gap: 32px;
}

.doc {
    background-color: var(--black-haze);
    border-radius: 16px;
    height: 500px;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-doc {
    height: 375px;
    margin: 10%;
    position: absolute;
    width: 268px;
}

.description-doc {
    align-items: flex-end;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: 49px;
    padding: 4px 0px 0px;
    position: absolute;
    top: 445px;
    width: fit-content;
}

.description-text {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 4px;
    width: fit-content;
}

.info-block-item {
    display: flex;
    border-radius: var(--margin-height);
    background-color: var(--black-haze);
    margin-top: 5%;
}

.info-block-item-2 {
    border-radius: var(--margin-height);
    margin-top: 5%;
}

.info-block-button {
    margin: var(--margin-height) 5% var(--margin-height) auto;
}

.user-card {
    position: relative;
    height: 450px;
    min-width: 380px;
    margin-top: 5vh;
}

.user-card-text {
    background-color: var(--black-haze);
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    gap: 48px;
    padding: 96px 32px 28px;
    position: absolute;
    top: 80px;
}

.description {
    height: 56px;
    letter-spacing: 0;
    line-height: 28px;
    width: 312px;
}

.user-name {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img-text {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 4px;
    width: fit-content;
}

.contacts {
    height: 48px;
    min-width: 48px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.contact {
    align-items: center;
    display: flex;
    gap: 8px;
    line-height: 28px;
}

.avatar {
    height: 160px;
    left: 32px;
    position: absolute;
    width: 160px;
}

.logotype {
    min-width: 128px;
    line-height: 18px;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
}

.button {
    color: var(--keppel);
    background-color: var(--white-ice);
    border-radius: 8px;
    display: flex;
    padding: 8px 16px;
    height: 32px;
    gap: 12px;
    align-items: center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.search {
    align-items: center;
    border: 1px solid;
    border-color: var(--iron);
    border-radius: 8px;
    display: flex;
    flex: 1;
    gap: 8px;
    padding: 8px;
    height: auto;
}

input {
    outline: none;
    border: none;
}

.left {
    display: flex;
    gap: 48px;
    height: 40%;
    padding-bottom: 5vh;
}

.right {
    display: flex;
    gap: 32px;
    right: 0;
    justify-content: space-evenly;
}

.navbar-item-active {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
}

.navbar-item-active a {
    text-decoration: none;
    color: #03665e;
}

.frame-48 {
    height: 46px;
    position: relative;
    display: flex;
    align-items: center;
}

.view-2 {
    right: 0;
    padding: 4px 0 0;
    position: absolute;
}

.frame-30 {
    align-items: flex-start;
    display: flex;
    gap: 4px;
    width: fit-content;
}

.partners {
    height: 100px;
    margin-top: 5vh;
    position: relative;
    left: -10vh;
}

.view-3 {
    display: flex;
    gap: 64px;
    position: absolute;
}

.partner {
    height: 100px;
}

.partner-list {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: fit-content;
}

.footer {
  align-items: flex-start;
  background-color: #f8fbfe;
  border: 1px none;
  display: flex;
  height: 20vh;
  margin-top: 80px;
  padding: 79px 160px;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-contacts{
    display: flex;
}
.button-2{
    background-color: var(--white-ice);
  border: 1px none;
  border-radius: 8px;
  height: 60px;
  min-width: 60px;
    margin: 1vw;
}
.icon{
    height: 60px;
    width: 60px;
}
.frame-60 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 27px;
  width: fit-content;
}
.text-42 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  width: 376px;
}
.button-3 {
  align-items: center;
  background-color: var(--white-ice);
  border: 1px none;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 46px;
  justify-content: center;
  padding: 9px 24px;
  width: fit-content;
}

.input {
  border: 1px solid;
  border-color: var(--iron);
  border-radius: 8px;
  height: 60px;
  min-width: 683px;
  position: relative;
}

.label-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.frame-141 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}
.button-5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 60px;
  justify-content: center;
    width: 100%;
}

.frame-139 {
  background-color: var(--black-haze);
  border-radius: 32px;
  margin-top: 80px;
  overflow: hidden;
  padding: 0 32px;
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
        height: 300px;
}
.message {
  align-items: flex-start;
  background-color: var(--keppel);
  border: 2.5px none;
  border-radius: 43.29px;
  display: flex;
  gap: 8px;
  left: 12px;
  padding: 21px 28px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.overlap-group {
  height: 89px;
  position: relative;
  width: 353px;
}

@media (min-width: 1280px) {

    .info-block-content {
        display: flex;
    }

    .view {
        padding-top: 2vh;
        align-items: flex-end;
        border: 1px none;
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: fit-content;
    }

    .navbar {
        display: flex;
        height: 15vh;
        width: 100%;
        padding: 4vh 0;
        flex-direction: column;
    }

    .navbar-menu {
        display: flex;
        gap: 48px;
        height: 40%;
        width: 100%;
        padding-bottom: 3vh;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-item {
        height: 48px;
        margin-bottom: 1vh;
    }


}

@media (max-width: 1280px) {

    .logotype {
        margin-bottom: 1vh;
        display: flex;
        justify-content: center;
    }

    .right {
        margin-bottom: 1vh;
    }

    .search {
        margin-bottom: 1vh;
    }
}

:root {
    --black: rgba(0, 0, 0, 1);
    --deep-cove: rgb(12, 12, 61);
    --keppel: rgba(39, 172, 161, 1);
    --shuttle-gray: rgba(93, 100, 125, 1);
    --iron: rgba(206, 215, 219, 1);
    --white-ice: rgba(220, 246, 244, 1);
    --black-haze: rgba(245, 248, 249, 1);
    --white: rgba(255, 255, 255, 1);

    --margin-height: 16px;
    --font-size-m: 18px;
    --font-size-l: 22px;
    --font-size-xl: 24px;
    --font-size-xxl: 30px;
    --font-size-xxxl: 36px;
    --font-size-xxxxl: 64px;

    --font-family-inter: "Inter";
    --font-family-poppins: "Poppins";
}

.inter-normal-deep-cove-18px {
    color: var(--deep-cove);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-deep-cove-18px a {
    text-decoration: none;
    color: var(--deep-cove);
}

.inter-normal-shuttle-gray-18px {
    color: var(--shuttle-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-white-30px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
}

.inter-medium-keppel-24px {
    color: var(--keppel);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-style: normal;
}

.inter-medium-deep-cove-24px {
    color: var(--deep-cove);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-style: normal;
}

.inter-semi-bold-keppel-18px {
    color: var(--keppel);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.inter-semi-bold-deep-cove-18px {
    color: var(--deep-cove);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.inter-medium-deep-cove-36px {
    color: var(--deep-cove);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
}

.color-keppel {
    color: var(--keppel);
}

.color-deep-cove {
    color: var(--deep-cove);
}
